#Navigation {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.single-entity {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  margin-bottom: 12px;
}

.single-entity.active {
  background-color: #FEAF00;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logout-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.entities {
  display: flex;
  flex-direction: column;
}

.navbar-icon {
  height: 16px;
  cursor: pointer;
}

.navbar-text {
  padding-left: 10px;
}

.navbar-text span a {
  color: inherit; 
  text-decoration: none; 
}

.logout-text {
  padding-right: 10px;
  cursor: pointer;
}

