#Navigation {
  display: flex;
  flex-direction: column;
  flex: 6;
}

.single-entity {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.logout-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.entities {
  display: flex;
  flex-direction: column;
}

.navbar-icon {
  height: 16px;
}

.navbar-text {
  padding-left: 10px;
}

.logout-text {
  padding-right: 10px;
}